body {
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px rgb(15, 71, 71);
  font-size: larger;
  padding: 10%;
}

.avatar {
  width: 150px;
}

.card {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(241, 147, 14);
  color: rgb(44, 9, 9);
  border-bottom: 5px solid rgb(195, 74, 30);
}

.border-blue {
  border: 1px dotted blue;
  border-radius: 10%;
}
